body {
    margin: 20px;
    text-align: center;
    padding-top: 100px;
}

.message {
    margin: 10px;
    margin-bottom: 30px;
}

.form-link {
    margin: auto;
    margin-top: 8px;
    text-align: center;
    background: rgb(77, 188, 231);
    display: inline-block;
}