body {
    padding: 50px;
}

.container {
    margin: 50px;
    
}

.title {
    text-align: center;
    margin: 50px;
    color: rgb(105, 188, 243);
}

.strage {
    width: 100px;
}

.submit-btn {
    text-align: center;
    background: rgba(135, 223, 223, 0.658);
    border-radius: 10px;

}


