body {
    padding: 50px;
}

.container {
    margin: 50px;
    text-align: center;
}

.title {
    text-align: center;
    margin: 50px;
    color: rgb(243, 105, 105);
}

.btn {
    display: inline-block;
    font-size: 20px;
    width: 100px;
    margin: 20px;
    text-align: center;
}

