body {
    padding: 50px;
}

.container {
    margin: 50px;
    
}

.title {
    margin: 50px;
    color: rgb(90, 211, 161);
}

.name-search-form {
    background-color: rgba(156, 199, 192, 0.514);
    border-radius: 8px;
    
    padding: 10px;
}

.event-search-form {
    background-color: rgba(156, 199, 192, 0.514);
    border-radius: 8px;
    
    padding: 10px;
}

label {
    margin-left: 50px;
    margin-right: 5px;
}

.text {
    margin-right: 10px;
}

.list-link {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background: rgb(247, 234, 116);
    display: inline-block;
}